{% extends "admin/change_form.html" %}

{% block content %}
<div class="user-profile">
    <div class="user-data">
        {% block form_top %}
            {{ block.super }}
            {% if original.profile_image %}
                <img src="{{ original.profile_image.url }}" alt="{{ original.get_full_name }}" class="profile-image" />
            {% endif %}
        {% endblock %}
    </div>
    <div class="user-form">
        {% block after_field_sets %}
            {{ block.super }}
        {% endblock %}
    </div>
</div>
{% endblock %}
